<div class = 'container'>
  <div class = 'row'>
    <div class ='col-md-6 col-md-offset-3'>
      <%= simple_form_for(@project) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :description, :input_html => {:class => 'tinymce', :rows => 20, :cols => 120} %>
            <%= f.input :budget %>
            <%= f.input :budget_description, :input_html => {:class => 'tinymce', :rows => 20, :cols => 120} %>
            <%= f.input :budget_donated %>
            <%= f.input :stage, collection: [ "Идея", "Препроект", "В разработке", "Прототип"]%>
            <%= f.input :account %>
            <%= f.input :status, collection: ["Активный", "Неактивный"] %>
            <%= f.input :deadline %>
            <%= f.input :cancel_date %>
            <%= f.input :cancel_reason, :input_html => {:class => 'tinymce', :rows => 20, :cols => 120} %>
            <%= f.input :author_comment, :input_html => {:class => 'tinymce', :rows => 20, :cols => 120} %>
            <%= f.association :category %>
            <%= f.input :other_category %>
            <%= f.file_field :image %>
          </div>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
    <% end %>
    </div>
  </div>
</div>

<%= tinymce %>
