<div class='container-fluid'>
  <p> Участники Проекта </p>
  <table id="member_table" class="table table-bordered table-condensed table-sm">
    <thead>
      <tr>
        <th>ФИО</th>
        <th>Роль</th>
        <th>Юзер</th>
        <th>Резюме</th>
        <th>      </th>
      </tr>
    </thead>
    <tbody>
      <% for project_members in @project.project_members %>
        <tr>
          <% if policy(project_members).edit? %>
            <td><%= link_to project_members.name, edit_project_project_member_path(@project, project_members), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %></td>
          <% else %>
            <td><%= project_members.name %></td>
          <% end %>
          <td><%= project_members.role %></td>
          <% unless project_members.user.blank? %>
            <td><%= project_members.user.name %></td>
          <% else %>
            <td>Пусто</td>
          <% end %>
          <% unless project_members.resume.blank? %>
            <td><%= link_to 'CV', project_members.resume.url, download: 'CV' %></td>
          <% else %>
            <td>Пусто</td>
          <% end %>
          <% if policy(project_members).destroy? %>
            <td><%= link_to 'Удалить', project_project_member_path(@project,project_members), method: :delete, :remote=>false, data: {confirm: 'Are you sure?'} %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>