<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Краудфандинг</h1>
    <p class="lead">Вы можете поддержать любой стартап, перечислив средства на мобильный кошелек проекта</p>
  </div>
</div>

<%= render 'list', projects: @projects %>
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ecd4gg%40gmail.com&amp;color=%231B887A&amp;src=eqfqjnf3og0vjsr2gbdbgfqpio%40group.calendar.google.com&amp;color=%230F4B38&amp;src=ops.bishkek%40gmail.com&amp;color=%23691426&amp;ctz=Asia%2FBishkek" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<%= paginate @projects %>

<%= link_to 'New Project', new_project_path %>