<%= tinymce %>

<div class='container'>
  <div class='row'>
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <%= image_tag @project.image.url(:medium) %><br>
    </div>
    <div class="col-xs-12 col-md-5">
      <h1><%= @project.name %></h1>
      <p>Категория: <%= @project.category.name %></p>
      <p>Стадия: <%= @project.stage %></p>
      <p>Статус: <%= @project.status %></p>
      <p>Дата окончания сбора средств: <%= @project.deadline %></p>
      <p>Бюджет проекта: <%= @project.budget %> сом</p>
      <p>Собранный бюджет: <%= @project.budget_donated %> сом</p>
      <% budget_progress = ((@project.budget_donated.to_f / @project.budget.to_f)*100).to_f.round %><br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= budget_progress %>%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"> <%= @project.donation_ratio %>
          %
        </div>
      </div>
      <% if @project.deadline >= Time.now %>
          <p>
            До окончания сбора средств осталось: <br>
            <strong style="color: #cc0000"><%= number_of_days_till_deadline(@project) %></strong>
          </p>
      <% else %>
          <p>
            Время сбора средсв истекло
          </p>
      <% end %>
      <p>Мобильный кошелек: <%= @project.account %></p>
      <%= link_to "Перечислить средства", user_info_request_project_mobilnik_payments_path(@project), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => "btn btn-success"}%>
      <% if user_signed_in? && current_user.superadmin? %>
        <%= link_to "Вернуть средства", admin_phone_number_request_project_mobilnik_payments_path(@project), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => "btn btn-success"}%>
      <% end %>
      <%= render 'project_member_table' %>
      <% if policy(@project.project_members).create? %>
        <%= link_to "Добавить участника проекта", new_project_project_member_path(@project), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => "btn btn-info"} %>
      <% end %>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class='col-xs-12 col-md-10 col-md-offset-1'>
      <h2>Описание проекта</h2>
      <p><%= raw @project.description %></p>
      <h2>Бюджет проекта</h2>
      <p><%= raw @project.budget_description %></p>
      <h2>Комментарий автора</h2>
      <p><%= raw @project.author_comment %></p>
      <% if @project.status == 'Неактивный' %>
          <h2>Причина отмены проекта</h2>
          <p><%= raw @project.cancel_reason %></p>
          <h2>Дата отмены проекта</h2>
          <p><%= @project.cancel_date %></p>
      <% end %>
    </div>
  </div>
</div><br>
<div class="modal fade" id="modal-window">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<%= nested_comments(@project.comments.arrange(:order => :created_at), @project) %>
<%= render partial: "comments/form", locals: {commentable: @project} %>
<% if user_signed_in? %>
    <% if !subscribed_email?(@project) %>
        <%= render "subscribed_mails/form", subscribed_mail: @subscribed_mail %>
    <% else %>
        <%= link_to 'Unsubscribe', subscribed_mail_path(email_unsubscribe), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-default' %>
    <% end %>
<% end %> <br>
<% if policy(@project).create? %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %> |
  <%= link_to 'Destroy', project_path(@project), method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-hidden="true"></div>