.thumbnail {
	a {
		img {
			width: 100%;
	    height: 200px;
		}
	}
}
#filterrific_sorted_by {
	background-color: $header-background;
	border-radius: 3px;
	padding: 3px;
}
.crowdfunding_projects {
	margin-top: 20px;
}
.crowdfunding_btn {
	margin-top: 30px;
}
 @media screen and (max-width: 1024px) {
  .thumbnail {
	  padding: 0 20px;

		a {
			img {
				width: 80%;
		    height: 400px;
		    padding: 10px 0;
			}
		}
	}
 }