.progress {
	.progress-bar-striped {
		background-image: none;
	}
	.progress-bar {
	  background-color: $progress_bar_color;
	}
}

#comments_glyphs{
	float:right;
}
.well{
	position:relative;
}
.comment_edited{
  position: absolute;
  bottom: 0;
  left: 88%;
}
.padding_top {
	padding-top: 10px;
}

.navbar {
	margin-bottom: 0px;
}

.footer {
	padding-top: 100px;
}

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}