#user_country {
	background-color: $header-background;
	border-radius: 3px;
	padding: 3px;
	width: 100%;
}
#user_age {
	background-color: $header-background;
	border-radius: 3px;
	padding: 3px;	
	width: 100%;
}