.navbar-default {
	border-color: $header-background;
	.navbar-nav {
		.active {
			a {
				background-color: $header-background;
				&:hover {
					opacity: 0.7;
				}
			}	
		}
	}
}
.navbar {
  border-radius: 0px;
}