<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Введите номер телефона</h4>
      <button type="button" class="close" data-dismiss="modal">&times;
      </button>
    </div>
    <div class="modal-body">
	  <%= form_tag("#{@project_id}/mobilnik_payments/mobilnik_code_request_for_admin", method: "get", remote: true ) do %>
        <div class="form-inputs">
          <%= text_field_tag :phone_number, nil, :required => true, placeholder: "+996700123456" %>
        </div>
        <%= submit_tag("Отправить") %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>