<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Введите полученный код</h4>
      <button type="button" class="close" data-dismiss="modal">&times;
      </button>
    </div>
    <div class="modal-body">
	  <%= form_tag("#{@project_id}/mobilnik_payments/mobilnik_token_request_for_admin", method: "get") do %>
        <%= text_field_tag(:user_sms_code) %>
       <%= submit_tag("Отправить") %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>