<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Введите данные для перевода</h4>
      <button type="button" class="close" data-dismiss="modal">&times;
      </button>
    </div>
    <%= form_tag("#{@project_id}/mobilnik_payments/mobilnik_code_request", method: "get", remote: true ) do %>
      <table class="table">
        <thead>
          <tr>
            <th>
              <%= label_tag(:phone_number, 'Номер телефона:') %>
              <%= text_field_tag :phone_number, nil, :required => true,placeholder: "+996700123456" %>
            </th>
            <th>
              <%= label_tag(:account_number, 'Ваш лицевой счет мобильника:') %>
              <%= text_field_tag :account_number, nil, :required => true %>
            </th>
            <th>
              <%= label_tag(:amount, 'Сумма перевода:') %>
              <%= number_field_tag :amount, nil, :required => true %>
            </th>
          </tr>
        </thead>
      </table>
      <div class="modal-footer">
        <%= submit_tag("Отправить") %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

      
