@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "application/**/*";

.nested_comments {
  margin-left: 30;
}
.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}