<div class="row">
  <div class="col-md-10 col-md-push-1">
    <h2 class="text-center"><%= t("account.update_account") %></h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :html => {:class => 'form-group'}) do |f| %>
      <%= f.error_notification %>
      
      <div class="form-group">
        <%= f.label :name, t("account.name") %>
        <%= f.text_field :name, required: true, class: "form-control" %>
        <p class='error'><%= show_errors(@user, :name) %></p>
      </div>

      <div class="form-group">
        <%= f.label :occupation, t("account.occupation") %>
        <%= f.text_field :occupation, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :work_experience, t("account.work_experience") %>
        <%= f.text_field :work_experience, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :country, t("account.country") %>
        <%= country_select("user", "country", class: "form-control") %>
      </div>

      <div class="form-group">
        <%= f.label :region, t("account.region") %>
        <%= f.text_field :region, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :age, t("account.age") %>
        <%= f.select :age, (18..99), class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, t("account.email"), class: "required" %>
        <%= f.text_field :email, required: true, class: "form-control" %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password, t("account.password"), class: "required" %>
        <%= f.input :password, autocomplete: "off", hint: t("account.dont_change_password"), required: false, label: false, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t("account.password_confirmation"), class: "required" %>
        <%= f.input :password_confirmation, required: false, label: false, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, t("account.current_password"), class: "required" %>
        <%= f.input :current_password, hint: t("account.need_password"), required: true, label: false, class: "form-control" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t("account.update"), class: 'btn btn-default' %>
      </div>
    <% end %>

    <p><%= link_to t("account.cancel"), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to t("back"), :back %>

  </div>
</div>
