<div class="row">
  <div class="col-md-10 col-md-push-1">
    <h2 class="text-center"><%= t("account.sign_up") %></h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-group'}) do |f| %>
      <%= f.error_notification %>
      
      <div class="form-group">
        <%= f.label :name, t("account.name") %>
        <%= f.text_field :name, required: true, class: "form-control" %>
        <p class='error'><%= show_errors(@user, :name) %></p>
      </div>

      <div class="form-group">
        <%= f.label :occupation, t("account.occupation") %>
        <%= f.text_field :occupation, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :work_experience, t("account.work_experience") %>
        <%= f.text_field :work_experience, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :country, t("account.country") %>
        <%= country_select("user", "country", class: "form-control") %>
      </div>

      <div class="form-group">
        <%= f.label :region, t("account.region") %>
        <%= f.text_field :region, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :age, t("account.age") %>
        <%= f.select :age, (18..99), class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, t("account.email"), class: "required" %>
        <%= f.text_field :email, required: true, class: "form-control" %>
        <p class='error'><%= show_errors(@user, :email) %></p>
      </div>

      <div class="form-group">
        <%= f.label :password, t("account.password"), class: "required" %>
        <%= f.input :password, required: true, label: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: "form-control" %>
        <p class='error'><%= show_errors(@user, :password) %></p>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t("account.password_confirmation"), class: "required" %>
        <%= f.input :password_confirmation, required: true, label: false, class: "form-control" %>
        <p class='error'><%= show_errors(@user, :password_confirmation) %></p>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t("account.sign_up"), class: 'btn btn-default' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
