<div class="row">
  <div class="crowdfunding_projects_filter">
    <%= form_for_filterrific @filterrific, :html => {:class => 'form-inline'} do |f| %>
      <div class="form-group col-xs-12 col-md-3">
        <h4><%= t("crowdfunding_projects.status") %></h4>
        <%= f.check_box(:with_status, {multiple: true}, t("crowdfunding_projects.active"), nil) %><%= t("crowdfunding_projects.active") %>
        <%= f.check_box(:with_status, {multiple: true}, t("crowdfunding_projects.inactive"), nil) %><%= t("crowdfunding_projects.inactive") %>
      </div>
      <div class="form-group col-xs-12 col-md-3">
        <h4><%= t("crowdfunding_projects.category") %></h4>
        <% Category.all.each do |category| %>
            <%= f.check_box(:with_category, {multiple: true}, category.id, nil) %> <%= category.name %>
        <% end %>
      </div>

      <div class="form-group col-xs-12 col-md-3">
        <h4><%= t("crowdfunding_projects.sorting") %></h4>
        <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {:class => 'form-control'}) %>
      </div>
      <div class="form-group col-xs-12 col-md-3">
        <%= submit_tag t("crowdfunding_projects.submit"), class: 'btn btn-default crowdfunding_btn' %>
      </div>
    <% end %>
  </div>
</div>
