<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container padding_top">
		<p>Номер телефона: 937 99 92</p>

		<p>Email: superadmin@example.com</p>

  </div>
</nav>