<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= t "site_name" %></a>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <%= nav_to t("navigation.crowdfunding_projects"), :projects, title: t("navigation.crowdfunding_projects") %>
        <%= nav_to t("navigation.startup_forum"), :incubators, title: t("navigation.startup_forum") %>
        <% if user_signed_in? %>
          <%= nav_to t("navigation.my_projects"), user_projects_index_path, title: t("navigation.user_projects") %>
        <% end %>
        <%= nav_to t("navigation.contacts"), feedbacks_new_path, title: t("navigation.contacts") %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown account_block">
            <%= link_to current_user.name.capitalize, edit_user_registration_path(current_user) %>
          </li>
          <% if current_user.role == 'superadmin' %>
            <li><%= link_to 'Админ', admin_root_path %></li>
          <% end %>
          <li class="dropdown account_block">
            <%= link_to 'Выход', destroy_user_session_path %>
          </li>
        <% else %>
          <%= nav_to t("account.sign_up"), new_user_registration_path, title: t("account.sign_up") %>
          <%= nav_to t("account.sign_in"), new_user_session_path, title: t("account.sign_in") %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
