<h4>Вы можете оставить сообщение администратору сайта ниже</h4><br>
<%= form_tag ("/feedbacks/create") do %>
  Имя<br><%= text_field_tag :name %> <br><br>
  Почта<br><%= text_field_tag :user_email, '', :required => true %> <br><br>
  <%= text_area_tag :body, '' , :required => true %> </br>
  <%= submit_tag "Отправить" %>
<% end  %>