<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Мои проекты</h1>
    <div class="row crowdfunding_projects">
  <% @all_projects.each do |project| %>
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= link_to (image_tag project.image.url(:thumb)), project_path(project) %>
      <div class="caption">
        <h3><%= link_to project.name.truncate(20), project_path(project) %></h3>
        <p><%= t("crowdfunding_projects.budget") %>: <%= project.budget %> сом</p>
        <p><%= t("crowdfunding_projects.budget_donated") %>: <%= project.budget_donated %> сом</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= project.donation_ratio %>%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"> <%= project.donation_ratio.to_i %>
            %
          </div>
        </div>
        <% if project.deadline >= Time.now %>
            <p><%= t("crowdfunding_projects.deadline") %>:
              <p style="color: #cc0000"><%= number_of_days_till_deadline(project) %></p>
            </p>
        <% else %>
            <p>
              <%= t("crowdfunding_projects.expired_donated_time") %>
            </p>
        <% end %>
        <p><%= link_to t("crowdfunding_projects.more"), project_path(project), :class => "btn btn-primary btn-center" %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= tinymce %>
  </div>
</div>