<%= simple_form_for(@subscribed_mail) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.hidden_field :name, value: current_user.name %>
      <%= f.hidden_field :email, value: current_user.email %>
      <%= f.hidden_field :project_id, value: @project.id %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Подписатся' %>
    </div>
<% end %>