<div class = 'container'>
  <div class = 'row'>
    <div class ='col-md-6 col-md-offset-3'>
		<%= simple_form_for(@incubator) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		    <%= f.input :name %>
		  </div>
		  <div class="form-inputs">
		  	<%= f.file_field :image %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit %>
		  </div>


		<% end %>
    </div>
  </div>
</div>