<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Стартап инкубаторы</h1>
    <p class="lead">Подайте заявку в один из стартап инкубаторов, и мы поможем воплотить вашу идею в успешный бизнес</p>
  </div>
</div>

<div class="row crowdfunding_projects">
  <% @incubators.each do |incubator| %>
    <div class="col-sm-12 col-md-4">
      <div class="thumbnail">
        <%= link_to (image_tag incubator.image.url(:thumb)), incubator %><br>
        <div class="caption">
          <%= link_to incubator.name, incubator %><br>
        </div> 
      </div>
    </div>
  <% end %>
</div>


