<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><%= @incubator.name %></h1>
    <p class="lead">Добро пожаловать в нашу дружную команду профессионалов!</p>
  </div>
</div>


<%= link_to 'Back', incubators_path %>
