<div class = "well">
  <div id = "comments_glyphs">
    <% if policy(comment).update? %>
      <%= link_to image_tag("glyphicons-31-pencil.png",:size => "18x22"), polymorphic_url([:edit, commentable, comment]), data: {remote: true, toggle: "modal", target: "#modal-window"} %>
      <%= link_to image_tag("glyphicons-17-bin.png", :size => "16x22"), [commentable, comment], :method => :delete, data: { confirm: "Вы уверены, что хотите удалить комментарий?" } %> 
      <%= link_to "Ответить", new_project_comment_path(commentable, :ancestry => comment), data: {remote: true, toggle: "modal", target: "#modal-window"} %>
    <% end %>
    <% if comment.edited %>
      <p class = "comment_edited">edited:<%= comment.updated_at.strftime("%F") %></p> 
    <% end %> 
  </div>
  <p><%= comment.user.name %> написал:</p>
  <p><%= comment.body %></p>
</div>
