<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Изменить Комментарий</h4>
      <button type="button" class="close" data-dismiss="modal">&times;
      </button>
    </div>
    <div class="modal-body">
	  <%= form_for [@commentable, @comment] do |f| %>
        <%= f.text_area :body, class: "form-control", required: true %>
        <%= f.submit "Изменить", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>