<%= form_for [commentable, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Ваш Текст", required: true %>
  </div>
  <%= f.submit "Создать Комментарий", class: "btn btn-primary" %>
<% end %>