<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Ответить</h4>
      <button type="button" class="close" data-dismiss="modal">&times;
      </button>
    </div>
    <div class="modal-body">
	  <%= form_for [@commentable, Comment.new] do |f| %>
  		<div class="form-group">
    		<%= f.text_area :body, class: "form-control", placeholder: "Ваш Текст", required: true %>
    		<%= f.hidden_field :ancestry, :value => @ancestry  %>
  		</div>
  		<%= f.submit "Ответить", class: "btn btn-primary" %>
		<% end %>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>