<%= form_for([@member.project, @member]) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'ФИО' %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :role, 'Роль'%><br />
    <%= f.text_area :role %>
  </div>

   <div class="field">
    <%= f.label :resume, 'Резюме' %><br />
    <%= f.file_field :resume, class: 'resume_control' %>
  </div>
  
  <div class="field">
    <%= f.label :user, 'Выберите Пользователя' %><br />
    <%= f.collection_select(:user_id, User.all, :id, :name, :include_blank => true) %>
  </div>

  <div class="actions">
    <%= f.submit 'Отправить' %>
  </div>

<% end %>