<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Добавить Участника</h4>
      <button type="button" class="close" data-dismiss="modal">&times;
      </button>
    </div>
    <div class="modal-body">
	  <%= render 'form' %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>