<h1>Вы успешно подписались на проект <%= @project.name %></h1>


<h3><%= @project.name %></h3>


<p>Категория: <%= @project.category.name %></p>
<p>Стадия: <%= @project.stage %></p>
<p>Статус: <%= @project.status %></p>
<p>Дата окончания сбора средств: <%= @project.deadline %></p>
<p>Бюджет проекта: <%= @project.budget %> сом</p>
<p>Собранный бюджет: <%= @project.budget_donated %> сом</p>
