<h1>Новости о проекте <%= @project.name %></h1>


<h3><%= @project.name %></h3>


<p style="color: #cc0000">Внимание! Срок сбора средств на проект: <%= @project.name %> заканчивается через 3 дня!</p>
